*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: auto;
}

.navi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: aqua;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navi img{
    width: 50%;
}

.nav{
    list-style: none;
    display: flex;
    gap: 50px;
}

.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

.icon{
    height: 50px;
}

.sections{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about{
    background-color: lightblue;
}

.about p{
    width: 80%;
    text-align: justify;
}
.product{
    background-color: #f44336;
}
.socials{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navi ul li a{
    color: red;
    text-decoration: none;
    font-size: 50px;
}

.navi ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navi ul li:hover::after{
    width: 100%;
}

.scroll-videos{
    overflow: auto;
    white-space: nowrap;
    width: 80%;
}

.videos{
    display: inline-block;
    width: 100%;
}
.ray-img{
    text-align: center;
}

.ray{
    width: 50%;
}
@media (max-width: 600px) {
    .socials{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .navi ul li a{
        font-size: 30px;
    }
}
@media (max-width: 400px) {
    .navi ul li a{
        font-size: 23px;
    }
    .brand{
        font-size: 10px;
    }
}
